<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1071944453520-9p5nmbn0ls2ff2nglqbqa69qgrqv1bk8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1071944453520-9p5nmbn0ls2ff2nglqbqa69qgrqv1bk8</string>
	<key>API_KEY</key>
	<string>AIzaSyBk8Zx50LAnGRpqU16yrhch9_6R0fcW318</string>
	<key>GCM_SENDER_ID</key>
	<string>1071944453520</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ivan.newsReader</string>
	<key>PROJECT_ID</key>
	<string>newsreader-8c7a0</string>
	<key>STORAGE_BUCKET</key>
	<string>newsreader-8c7a0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1071944453520:ios:8f0afa8cda57c419ee7715</string>
</dict>
</plist>